<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="dirManufacturer" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.InstallName)" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Directory Id="X86ProgramFilesFolder">
      <Directory Id="dirAcpSchedulerRoot" Name="ACP Scheduler" />
      <Directory Id="dirAcpRoot" Name="ACP Obs Control" />
    </Directory>
    <PropertyRef Id="WIX_DIR_COMMON_DOCUMENTS"/>
    <Directory Id="WIX_DIR_COMMON_DOCUMENTS">
      <Directory Id="dirAcpWebRoot" Name="ACP Web Data">
        <Directory Id="dirAcpWebDocRoot" Name="Doc Root">
          <Directory Id="dirAcpWebAspComponents" Name="ac" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
